@font-face {
    src: url("karla.bold.ttf");
    font-family: karla;
    font-weight: 800;
    
}

@font-face {
    src: url("karla.regular.ttf");
    font-family: karla
}

body {
    margin: 0;
    width: 1253px;
    height: 100%;
    background: #1F2937;
    color: white;
    text-align: left;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

h1 {
    font-family: karla;
    font-weight: 800;
    font-size: 50px;
    line-height:100%;
    letter-spacing: -0.025em;
    
    
}

h4 {
    margin: 10px 0 30px;;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #D5D4D8;
    line-height: 28px;
    
}

.container {
   
    margin-left: 50px
}

#row-One {
    margin-top:80px;
    margin-bottom:0;
}

#row-Two {
    margin-top:0;
    margin-bottom: 3px;
    color: #4ADF86;
}



#generatePassword {
    padding: 9px 17px 9px 15px;
    height: 42px;
    width: 191px;
    background: #10B981;
    border:none;
    border-radius:6px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 24px;
    color: white;
    flex-grow: 0;
    margin-bottom: 30px;
    
}

#passLength{
    margin-bottom: 5px;
    padding: 9px 17px 9px 15px;
    width: 157px;
    border:none;
    border-radius:6px;
    
}

.line {
    position: absolute;
    width: 446px;
    height: 0px;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-bottom: 1px solid #2F3E53;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}

#inputPassword {
    margin-top: 15px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
}

#firstPassword, #secondPassword {
    width: 211px;
    height: 39px;
    background: #273549;
    text-align: center;
    border-radius: 6px;
    size: 16px;
    color: #55F991;
    line-height: 32px;   
}

#firstPassword {
    margin-right: 10px;
}

#secondPassword {
    margin-left: 10px
}

.slider {
  -webkit-appearance: none;
  width: 85%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-bottom: 30px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.row-slider {
 flex-direction: row;
 justify-content: start;
 align-items: start;
 
}

#value {
    font-family: karla;
    font-weight: 800;
    font-size: 30px;
    line-height:100%;
    letter-spacing: -0.025em;
    margin-left: 10px;
}

p {
    font-family: karla;
    font-size: 18px;
    margin-bottom: -1px;
}